div {
  width: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 40%;
  left: 50%;
  padding: 20px;
  resize: both;
  overflow: auto;
}
h1 {
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 30pt;
  color: #FFFFFF;
}   

h2 { 
  font-family:"Open Sans"; 
  font-weight: lighter;
  font-size:18px; 
  color:gray; 
}
body{
    background-color: #3498db;
}