div {
  width: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 40%;
  left: 50%;
  padding: 20px;
  resize: both;
  overflow: auto;
}
h1 {
    font-family: " Century Gothic";
    font-size: 24pt;
    color: #00CCCC;
}   
body{
    background-color: #000000;
}